.custom-container{
	color : black;
}
.slds-modal__container {
    width: 50%;
    max-width: 40rem;
}

.slds-backdrop_open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
}
